@inherits LayoutComponentBase

<div class="page">
    <header>
        <NavMenu />
    </header>

    <main>
        @Body
    </main>

    <footer class="footer px-4">
        <a href="https://github.com/MSARenthex" target="_blank">About</a>
    </footer>
</div>
