@page "/info"

<div class="infoDiv col-10">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper feugiat eros id maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec lectus vitae ligula feugiat mattis at sed ex. Fusce dolor neque, maximus et elit quis, sagittis consequat ante. Duis dignissim eu eros non volutpat. Nullam semper blandit diam. In eu tortor sem. Sed a dolor non nisl mollis consectetur ac sit amet nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque dictum diam vel ipsum faucibus elementum. Praesent scelerisque elementum dui, at accumsan mauris elementum at. In a leo justo.

    Nam ac rhoncus nibh, eget molestie eros. Sed condimentum dui urna. Sed ultricies non mi vitae euismod. Integer ultricies mauris ac pulvinar fermentum. Aliquam a volutpat felis. Ut nisi ligula, tincidunt sed lorem nec, malesuada aliquam felis. Phasellus non ipsum et nisl vestibulum cursus.

    Praesent tellus dui, pulvinar ultrices sem id, scelerisque vestibulum diam. Sed finibus tempus diam, a auctor est ultrices vitae. Proin luctus ac lorem eget maximus. Maecenas lacinia eleifend congue. Nulla facilisi. Etiam in est commodo, eleifend nisi a, lacinia ex. Duis fringilla est orci, id feugiat libero finibus nec. Aenean id aliquam lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed nisl massa. Proin nunc diam, porttitor et ullamcorper in, elementum quis lectus. Vivamus justo eros, sollicitudin quis porta sit amet, semper at ante.

    Nunc dictum rhoncus maximus. Fusce ac odio imperdiet libero imperdiet sagittis. Etiam malesuada nunc purus, iaculis fermentum metus molestie id. Cras tincidunt fermentum hendrerit. Curabitur a aliquet elit. Integer sollicitudin viverra velit, vitae dapibus dui imperdiet a. Proin sit amet ex a ante elementum egestas. Proin ut semper arcu. Duis eget turpis sit amet urna tempor vehicula.

    Vestibulum arcu mauris, pulvinar at lorem sed, suscipit ornare augue. Donec et egestas augue. Ut nulla libero, eleifend sit amet fermentum nec, dapibus in justo. Aenean posuere pellentesque arcu, et tempor ante ullamcorper quis. Nunc volutpat placerat imperdiet. Pellentesque pellentesque nisl massa, a interdum elit imperdiet ut. Sed tincidunt nunc eget scelerisque tincidunt. Pellentesque eget orci nisi. Vestibulum consectetur ipsum ac venenatis venenatis. Nunc ultricies libero bibendum, congue enim sed, dapibus metus. Duis hendrerit mauris eu lacus vulputate tincidunt. Mauris eget urna neque.
</div>